<template>
  <div>
    <h1>Bar</h1>
    <bar-component
      :size="100"
      :items="barItems"
    ></bar-component>
  </div>
</template>
<script lang="ts">
// Libs
import { Component, Vue } from "vue-property-decorator";

import BarComponent, { IBarItem } from "../layout/bar.component.vue";

@Component({ components: { BarComponent } })
export default class ExampleButtonComponent extends Vue {
  public get barItems(): IBarItem[] {
    return [
      {
        name: "Eat",
        units: 20,
        budgetUnits: 30,
        color: "#f00"
      },
      {
        name: "Sleep",
        units: 20,
        budgetUnits: 30,
        color: "#0F0"
      },
      {
        name: "Rave",
        units: 10,
        budgetUnits: 40,
        color: "#00F"
      }
    ];
  }
}
</script>
<style lang="scss" scoped>
</style>