<template>
  <div>
    <h1>Checkbox</h1>
    <h2>Regular</h2>
    <checkbox-component
      label="Checkbox"
      id="checkbox_1"
    ></checkbox-component>
    <h2>Disabled</h2>
    <checkbox-component
      label="Checkbox"
      id="checkbox_2"
      :disabled="true"
    ></checkbox-component>
    <div v-if="nestedCheckbox">
      <h2>Indeterminate</h2>
      <checkbox-component
        label="Checkbox"
        id="checkbox_parent"
        :indeterminate="nestedCheckbox.isIndeterminate"
        v-model="nestedCheckbox.selected"
      ></checkbox-component>
      <div style="margin-left: 20px">
        <checkbox-component
          label="Checkbox"
          id="child_1"
          v-model="nestedCheckbox.children[0].selected"
        ></checkbox-component>
        <checkbox-component
          label="Checkbox"
          id="child_2"
          v-model="nestedCheckbox.children[1].selected"
        ></checkbox-component>
        <checkbox-component
          label="Checkbox"
          id="child_3"
          v-model="nestedCheckbox.children[2].selected"
        ></checkbox-component>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
// Libs
import { Component, Vue, Watch } from "vue-property-decorator";

// Components
import CheckboxComponent from "../layout/checkbox.component.vue";

class CheckboxViewModel {
  public get selected(): boolean {
    return this.children.every(
      (value: { selected: boolean }) => value.selected === true
    );
  }
  public set selected(value: boolean) {
    this.children[0].selected = value;
    this.children[1].selected = value;
    this.children[2].selected = value;
  }

  public get isIndeterminate(): boolean {
    return (
      this.children.some(
        (value: { selected: boolean }) => value.selected === true
      ) &&
      this.children.some(
        (value: { selected: boolean }) => value.selected === false
      )
    );
  }

  public children: { selected: boolean }[] = [
    { selected: true },
    { selected: true },
    { selected: true }
  ];
}

@Component({ components: { CheckboxComponent } })
export default class ExampleCheckboxComponent extends Vue {
  public nestedCheckbox = new CheckboxViewModel();
}
</script>
<style lang="scss" scoped>
</style>