<template>
  <div>
    <h1>Buttons</h1>
    <div
      v-for="(buttonType, index) in [buttonType.CONTAINED, buttonType.OUTLINED, buttonType.TEXT]"
      :key="`button_${index}`"
    >
      <h2>{{ buttonType }}</h2>
      <button-component
        :button-type="buttonType"
        :button-style="buttonStyle.PRIMARY"
      >Primary</button-component>
      <button-component
        :button-type="buttonType"
        :button-style="buttonStyle.SECONDARY"
      >Secondary</button-component>
      <button-component
        :button-type="buttonType"
        :button-style="buttonStyle.INFO"
      >Info</button-component>
      <button-component
        :button-type="buttonType"
        :button-style="buttonStyle.WARNING"
      >Warning</button-component>
      <button-component
        :button-type="buttonType"
        :button-style="buttonStyle.DANGER"
      >Danger</button-component>
      <br />
    </div>
  </div>
</template>
<script lang="ts">
// Libs
import { Component, Vue } from "vue-property-decorator";
import ButtonComponent, {
  ButtonType,
  ButtonStyle,
  ButtonSize
} from "../layout/button.component.vue";

@Component({ components: { ButtonComponent } })
export default class ExampleButtonComponent extends Vue {
  public buttonType = ButtonType;
  public buttonStyle = ButtonStyle;
  public buttonSize = ButtonSize;
}
</script>
<style lang="scss" scoped>
</style>