<template>
  <container-component>
    <template v-slot:sidebar>
      <sidebar-component :menu="menu">
      </sidebar-component>
    </template>
    <template v-slot:default>
      <router-view></router-view>
    </template>
  </container-component>
</template>
<script lang="ts">
// Libs
import { Component, Vue } from "vue-property-decorator";

// Services
import { menuType, IMenu } from "../services/menu.service";

// Components
import SidebarComponent from "./sidebar.component.vue";
import ContainerComponent from "./container.component.vue";
import ButtonComponent, {
  ButtonType,
  ButtonStyle,
  ButtonSize
} from "./layout/button.component.vue";
import BarComponent, { IBarItem } from "./layout/bar.component.vue";

// Bootstrap
import { bootstrap } from "../bootstrap";
import { ISubscription } from "../services/broadcast.service";

@Component({
  components: {
    SidebarComponent,
    ContainerComponent,
    ButtonComponent,
    BarComponent
  }
})
export default class ExampleComponent extends Vue {
  public menu: menuType[] = [];
  private menuChangeSubscription?: ISubscription;

  public mounted() {
    this.setMenu();
    this.menuChangeSubscription = bootstrap.menuService.onMenuChange(() =>
      this.setMenu()
    );
  }
  public destroyed() {
    if (this.menuChangeSubscription !== undefined) {
      this.menuChangeSubscription.unsubscribe();
    }
  }

  private setMenu() {
    const menu = bootstrap.menuService.getMenu()[2];
    if ("children" in menu && menu.children !== undefined) {
      this.menu = menu.children;
    }
  }
}
</script>