<template>
  <div>
    HOME
  </div>
</template>
<script lang="ts">
// Libs
import { Component, Vue } from "vue-property-decorator";

@Component
export default class HomeComponent extends Vue {}
</script>
<style lang="scss" scoped>
</style>